<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="col-lg-4 col-md-6 mb-30px card-group">
  <div class="card h-100">
    <div class="maxthumb">
        {% if post.type == 'blog' %}
        <a href="{{ post.url | relative_url }}">
        {% endif %} {% if post.type == 'link' %}
        <a target="_blank" href="{{ post.hyperlink }}">
        {% endif %}
        {% if post.thumbnail %} <img class="img-fluid" src="{% if post.thumbnail contains "://" %}{{ post.thumbnail }}{% else %}{{ post.thumbnail | relative_url }}{% endif %}" alt="{{ post.title }}">
        {% endif %}
      </a>
    </div>
    <div class="card-body">
      <h2 class="card-title">
        {% if post.type == 'blog' %}
        <a class="text-dark" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        {% endif %} {% if post.type == 'link' %}
        <a class="text-dark" target="_blank" href="{{ post.hyperlink }}">{{ post.title }}</a>
        {% endif %}
      </h2>
      <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords: 30 }}</h4>
    </div>
    <div class="card-footer bg-white">
      <div class="wrapfooter">
        {% if post.author %}
        <span class="meta-footer-thumb">
          {% if author.gravatar %}
          <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}" />
          {% endif %} {% if author.image %}
          <img class="author-thumb" src="{{ author.image }}" alt="{{ author.display_name }}" />
          {% endif %}
        </span>
        <span class="author-meta">
          <span class="post-name"
            ><a target="_blank" href="{{ author.profile }}">{{ author.display_name }}</a></span
          ><br />
          {% endif %}
          <span class="post-date">{{ post.date | date_to_string }}</span>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- end post -->
